<div ng-controller="settingsCtrl">
	<div style="position:absolute; top:15px; right:20px;z-index:1000000;" ng-click="logOut()" ng-controller="registerCtrl" >
		<a class="nav-icon href-custom settings-tab" target="_blank" href="" style="color:white;">		  
		    <img class='app-icon' src="assets/img/logout9.svg" style="width: 24px; height: 24px;">
		    <span>Logout</span>
		</a>
	</div>
	<div class="container center">
	<md-button class="back-button-1" aria-label="goBack" ng-click = "backToLoginHome()">
        <img class='app-icon' src="assets/img/ic_arrow_back_24px.svg" style="width: 24px; height: 24px;">
	</md-button>
		<div class="settingsBlock">
			<table class="settingsTable" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
					<td colspan="12" style="color:white;font-size: 1.2em;">
						<div>
							<span><h3 class="marg-12"><img class='app-icon' src="assets/img/cogwheel25.svg" style="width: 24px; height: 24px;">&nbsp;</i>Settings</h3></span>
						</div>
					</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3" class="selected column-td" style="width:140px;color:white;height:200px;padding:0;">
							<ul >
								<li class="settingsTab" ng-class="{activeSettings:activeSettingsTab == 'backgroundTab'}" ng-click="changeTab('backgroundTab')">
									<span><h4>Background</h4></span>
								</li>
								<li class="settingsTab" ng-class="{activeSettings:activeSettingsTab == 'deckBackTab'}" ng-click="changeTab('deckBackTab')">
									<span><h4>Deck</h4></span>
								</li>
							</ul>
						</td>
						<td class="column-td" style="background-color:#272727;">
							<div class="color-list" ng-show="activeSettingsTab == 'backgroundTab'">
								<div class="color-list-block" ng-repeat="color in bgColors" ng-class="getColorClass(color.color, $index)" ng-click="selectBackgroundColor(color)">
									<div class="colorBlock" style="background:{{color.color}}" ></div>
									<div class="color-name">
										{{color.name}}
									</div>
								</div>
							</div>
							<div ng-show="activeSettingsTab == 'deckBackTab'">
								<div class="selectCard" ng-repeat="card in cardBacks">
									<div class="linear-block" style="height:112px;width:60px;">
										<span class="check-box">
											<span ng-class="{checked : card==activeCardBack}"></span>
										</span>
									</div>
									<div class="card playingCards simpleCards" ng-click="selectCardBack(card)" style="">
										<a class="card back {{card}}"></a>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<md-button class="redcol home-elem md-raised" aria-label="randomGameStart" ng-click="appySettings()" style="margin-top:10px;">
			<div flex layout="horizontal" layout-align="center center">
			<div style="margin-right:15px;"><img class='app-icon' src="assets/img/tick7.svg" style="width: 24px; height: 24px;"></div>
			<div><h3 class="marg-12" class="white-label">Apply</h3> </div>
      		</div>
      	</md-button>
	</div>
</div>
<style type="text/css">
	.settingsBlock{
		max-width: 480px;
		/*padding: 2em;*/
		left: 0;
		right: 0;
		position: relative;
		margin: 0 auto;
	}
	/*.column-td{
		padding-top: 4em;
	}*/
	.settingsBlock table{
		width: 480px;
	}
	.settingsTab {
    	height: 100%;
	}
	li.settingsTab.activeSettings {
    	background-color: #272727;
	}
	.selected{
		float: left;
	}
	.colorBlock{
		width: 90px;
		height: 36px;
		position: relative;
		display: block;
		cursor: pointer;
		/*float: left;*/
	}
	.evenBlock:after{
		clear: both;
	}
	.color-list-block.activeBlock{
		border: 2px solid #009688;
		transition: border 0.3s linear;
	}
	.activeBlock .color-name.ng-binding {
    	color: #009688;
    	transition: color 0.3s linear;
	}
	.clearfix::after{
		clear: both;
	}
	.selectCard {
		position: relative;
		float: left;
		padding: 0.2em;
	}
	.selectCard .card{
		position: relative !important;
		float: left;
		transition : none;
		-webkit-transition : none;
		-moz-transition : none;
		-o-transition : none;
		-ms-transition : none;
	}
	.selectCard .div{
		border: 2px solid #fff;
	}
	.activeSettings h3{
		border-right: 4px solid #009688;
	}
	.settingsTab h3{
		padding: 12px;
		border-bottom: 1px solid #ddd;
		margin: 0;
		cursor: pointer;
	}
	.selectCards{
		width: 206px;
  		height: 118px;
	}
	.activeCards{
		border: 4px solid #ccc;
	}
	.color-list{
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.color-list .color-block{
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 48%;
		-ms-flex: 0 0 48%;
		flex: 0 0 48%;
		min-width: 100px;
		
	}
	.linear-block{
		position: relative;
		float: left;
	}
	.check-box{
		display: block;
		height: 24px;
		width: 24px;
		border: 1px solid #ccc;
		position: absolute;
		right: 0;
		left: 0;
		margin: 0 auto;
		top: 40%;
	}
	.check-box .checked{
		display: block;
		height: 18px;
		width: 18px;
		/* border: 1px solid #ccc; */
		position: relative;
		margin: 2px;
		background-color: #009688;
		transition: all 0.25s linear;
	}
	.color-name{
		padding: 6px 4px 8px 4px;
		text-align: center;
		color: white;
	}
	.color-list-block{
		float:left;
		margin:0.12em;
		border:2px solid #fff;
	}
	.settingsTable th, .settingsTable td{
		border: none;
	}
	.settingsTable tbody{
		border-top: 1px solid #ddd; 
		border-bottom: 1px solid #ddd;
		
	}
	.column-td ul{
		margin: 0;
		list-style-type:none;
		display: flex;
		display: -webkit-flex;
		flex-flow: column nowrap;
		-webkit-flex-flow: column nowrap;
	}
	td.column-td {
    	width: 340px;
	}
</style>